@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: rgb(11,41,46);
  color: white;
  font-family: "Cardo", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
